{% extends 'base.html' %} {% block title %}{{ title }} Terminals{% endblock %}
{% block content %}

<hr>
<div class="d-flex justify-content-between align-items-center mb-3">
  <h1 class="mr-3">{{ title }} Terminals</h1>
  <form method="GET" action="" class="form-inline mr-3 flex-grow-1" id="searchForm">
    <input type="text" name="search" id="searchInput" class="form-control w-100" placeholder="Search Terminals" value="{{ search_query }}">
    <!-- <button type="submit" class="btn btn-primary">Search</button> -->
  </form>
  <div class="d-flex align-items-center">
    
    
      <label for="sortOptions" class="mr-2 mb-0">Sort by:</label>
      <select id="sortOptions" class="form-control" style="width: auto; display: inline-block;" onchange="sortTerminals()">
          <option value="unit_id" {% if sort_by == "unit_id" %}selected{% endif %}>Unit ID</option>
          <option value="terminal_id" {% if sort_by == "terminal_id" %}selected{% endif %}>Terminal ID</option>
          <option value="terminal_name" {% if sort_by == "terminal_name" %}selected{% endif %}>Terminal Name</option>
          <option value="branch_name" {% if sort_by == "branch_name" %}selected{% endif %}>Branch Name</option>
          <option value="location" {% if sort_by == "location" %}selected{% endif %}>Location</option>
          <option value="port" {% if sort_by == "port" %}selected{% endif %}>Port</option>
          <option value="status" {% if sort_by == "status" %}selected{% endif %}>Status</option>
      </select>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Unit ID</th>
      <th>Terminal ID</th>
      <th>Terminal Name</th>
      <th>Branch Name</th>
      <th>Port</th>
      <th>IP</th>
      <th>Location</th>
      <th>Terminal Type</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody id="results">
    {% include 'terminals/terminal_list_results.html' %}
  </tbody>
</table>
<hr>


<!-- Edit Terminal Modal -->
<div
  class="modal fade"
  id="editTerminalModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="editTerminalModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editTerminalModalLabel">Edit Terminal</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form
          id="editTerminalForm"
          method="POST"
          class="needs-validation"
          novalidate
        >
          {% csrf_token %}
          <input type="hidden" id="terminal_id" name="terminal_id" value="" />
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="id_unit_id">Unit ID</label>
                <input
                  type="number"
                  maxlength="3"
                  class="form-control"
                  id="unit_id"
                  name="unit_id"
                  required
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="id_terminal_id">Terminal ID</label>
                <input
                  type="text"
                  class="form-control"
                  id="terminal_id_input"
                  name="terminal_id"
                  required
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="id_terminal_name">Terminal Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="terminal_name"
                  name="terminal_name"
                  required
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="id_branch_name">Branch Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="branch_name"
                  name="branch_name"
                  required
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="id_port">Port</label>
                <input
                  type="text"
                  class="form-control"
                  id="port"
                  name="port"
                  required
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="id_ip">IP Address</label>
                <input
                  type="text"
                  class="form-control"
                  id="ip"
                  name="ip"
                  required
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="id_location">Location</label>
                <select
                  class="form-control"
                  id="location"
                  name="location"
                  required
                >
                  <option value="">Select Location</option>
                  <option value="Onsite">Onsite</option>
                  <option value="Offsite">Offsite</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="id_type">Terminal Type</label>
                <select class="form-control" id="type" name="type" required>
                  <option value="">Select Type</option>
                  <option value="NCR">NCR</option>
                  <option value="Hitachi CRM">Hitachi CRM</option>
                  <option value="POS">POS</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="id_status">Terminal Status</label>
                <select class="form-control" id="status" name="status" required>
                  <option value="">Select Status</option>
                  <option value="Operational">Operational</option>
                  <option value="Relocated">Relocated</option>
                  <option value="Installation Ready">Installation Ready</option>
                  <option value="Not Operational">Not Operational</option>
                </select>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- Pagination Controls -->
<div class="d-flex justify-content-between align-items-center">
  <div>
    <ul class="pagination">
      {% if terminals.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?sort_by={{ sort_by }}&page=1" aria-label="First">
          <span aria-hidden="true">&laquo;&laquo;</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?sort_by={{ sort_by }}&page={{ terminals.previous_page_number }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% endif %}

      {% for num in terminals.paginator.page_range %}
        {% if num == terminals.number %}
        <li class="page-item active">
          <span class="page-link">{{ num }} <span class="sr-only">(current)</span></span>
        </li>
        {% else %}
        <li class="page-item">
          <a class="page-link" href="?sort_by={{ sort_by }}&page={{ num }}">{{ num }}</a>
        </li>
        {% endif %}
      {% endfor %}

      {% if terminals.has_next %}
      <li class="page-item">
        <a class="page-link" href="?sort_by={{ sort_by }}&page={{ terminals.next_page_number }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?sort_by={{ sort_by }}&page={{ terminals.paginator.num_pages }}" aria-label="Last">
          <span aria-hidden="true">&raquo;&raquo;</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
  <div>
    <span>Page {{ terminals.number }} of {{ terminals.paginator.num_pages }}</span>
  </div>
</div>



<!-- Error Modal -->
<div
  class="modal fade"
  id="errorModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="errorModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="errorModalLabel">Error</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="errorMessage" style="color: red">
          <!-- Error message will be injected here -->
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Success Modal -->
<div
  class="modal fade"
  id="successModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="successModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="successModalLabel">Success</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="successMessage">
          <!-- Success message will be injected here -->
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
